<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.parknnna.blog.database.Entity"/>
    </typeAliases>
    <mappers> 
        <mapper resource="mapper/LicenseMapper.xml"/>
        <mapper resource="mapper/ADMapper.xml"/>
        <mapper resource="mapper/BoardMapper.xml"/>
        <mapper resource="mapper/ProjectMapper.xml"/>
        <mapper resource="mapper/StoryMapper.xml"/>
    </mappers>
</configuration>   